# Type of Recommender Systems

1. Content based - Similarity of content
2. Collaborative filtering - Based on user similarity
3. Hybrid - Combination of 1 and 2


Questions -  How to incorporate numeric columns like release date, popularity in the model?

# Content based recommender System

In [106]:
import pandas as pd
import numpy as np

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

movies = movies.merge(credits,on='title')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [107]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

# Columns to keep

In [108]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [109]:
print(movies.shape)
movies.head()

(4809, 7)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Pre processing

In [110]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [111]:
movies.dropna(inplace = True)

In [112]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [113]:
import ast
ast.literal_eval("""[{"id": 28, "name": "Action"}, 
{"id": 12, "name": "Adventure"}, 
{"id": 14, "name": "Fantasy"}, 
{"id": 878, "name": "Science Fiction"}]"""
)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [114]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

movies['genres'] = movies['genres'].apply(convert)

In [115]:
movies['keywords'] = movies['keywords'].apply(convert)

In [116]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [117]:
#Taking first 3 actors only from the whole case. Assuming they are sorted in highest popularity to lowest
def convert3 (obj):
    main_actors = []
    cast_list = ast.literal_eval(obj)
    
    for i in range(3):
        if i < len(cast_list):
            main_actors.append(cast_list[i].get('name'))
        else:
            break
            
    return main_actors

movies['cast'] = movies['cast'].apply(lambda x: convert3(x))

In [118]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [119]:
job = []
for i in ast.literal_eval(movies['crew'].iloc[0]):
    job.append(i.get('job'))

sorted(list(set(job)))

['Animation Director',
 'Art Department Coordinator',
 'Art Department Manager',
 'Art Direction',
 'Assistant Art Director',
 'Best Boy Electric',
 'CG Supervisor',
 'Camera Operator',
 'Casting',
 'Choreographer',
 'Conceptual Design',
 'Construction Coordinator',
 'Costume Design',
 'Costume Supervisor',
 'Dialect Coach',
 'Dialogue Editor',
 'Digital Intermediate',
 'Director',
 'Director of Photography',
 'Editor',
 'Executive Producer',
 'Foley',
 'Hairstylist',
 'Lighting Artist',
 'Lighting Technician',
 'Makeup Artist',
 'Makeup Department Head',
 'Modeling',
 'Motion Capture Artist',
 'Music Editor',
 'Original Music Composer',
 'Post Production Supervisor',
 'Producer',
 'Production Design',
 'Production Manager',
 'Production Supervisor',
 'Publicist',
 'Screenplay',
 'Set Costumer',
 'Set Decoration',
 'Set Designer',
 'Sound Designer',
 'Sound Effects Editor',
 'Sound Re-Recording Mixer',
 'Special Effects Coordinator',
 'Steadicam Operator',
 'Still Photographer',
 'Stunt Coordinator',
 'Stunts',
 'Supervising Art Director',
 'Supervising Sound Editor',
 'Transportation Coordinator',
 'Visual Effects Art Director',
 'Visual Effects Editor',
 'Visual Effects Producer',
 'Visual Effects Supervisor',
 'Writer']

In [120]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

movies['crew'] = movies['crew'].apply(fetch_director)

In [121]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [122]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

movies.rename(columns={'crew': 'director'}, inplace=True)

movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [123]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,director
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [124]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords']+ movies['cast'] + movies['director']

new_df = movies[['movie_id','title','tags']]

In [125]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [126]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/var/folders/xh/srbl7zqs7zz0h72dksh4ht700000gn/T/ipykernel_65377/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [127]:
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

/var/folders/xh/srbl7zqs7zz0h72dksh4ht700000gn/T/ipykernel_65377/3679624391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [128]:
new_df#['tags'].iloc[2]

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

# Text Vectorization

### Stemming (Porter Stemmer)

In [129]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [130]:
for word in ['lover','loved','loving','marine','romance']:
    print(ps.stem(word))

lover
love
love
marin
romanc

In [131]:
ps.stem('hi i am lucifer')

'hi i am lucif'

In [137]:
# stemming
def stem(text):
    
    stemmed = []
    for word in text.split():
        stemmed.append(ps.stem(word))
        
    return " ".join(stemmed)

In [138]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [139]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/xh/srbl7zqs7zz0h72dksh4ht700000gn/T/ipykernel_65377/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [140]:
new_df['tags'].iloc[0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

### Vectorization

In [141]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [142]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [143]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [144]:
#cosine distance
from sklearn.metrics.pairwise import cosine_similarity

In [145]:
similarity = cosine_similarity(vectors)

In [171]:
sorted(list(enumerate(similarity[0])),reverse=True,)[0:6]

[(0, 1.0000000000000002),
 (1214, 0.28676966733820225),
 (2405, 0.26901379342448517),
 (3728, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [157]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x : x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [166]:
print(new_df.iloc[40].title)
print()
recommend(new_df.iloc[80].title)

Cars 2

Snow White and the Seven Dwarfs
Mirror Mirror
The Snow Queen
The Huntsman: Winter's War
Queen of the Damned

In [177]:
import pickle

In [ ]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
similarity

In [175]:
key = '6f37b3dd5a44c5f186dec70d6d7dd2e3'

In [178]:
pickle.dump(key,open('api_key.pkl','wb'))

In [181]:
import requests

url = f"https://api.themoviedb.org/3/movie/1363?language=en-US&api_key=6f37b3dd5a44c5f186dec70d6d7dd2e3"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

print(response.text)

{"adult":false,"backdrop_path":"/dTRQV0gfaOn2lAE6dJExUiwkDIr.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":10749,"name":"Romance"},{"id":37,"name":"Western"}],"homepage":"","id":1363,"imdb_id":"tt0120699","origin_country":["US","GB"],"original_language":"en","original_title":"The Hi-Lo Country","overview":"An intimate story of the enduring bond of friendship between two hard-living men, set against a sweeping backdrop: the American West, post-World War II, in its twilight. Pete and Big Boy are masters of the prairie, but ultimately face trickier terrain: the human heart.","popularity":5.748,"poster_path":"/m73KqOLXf9ZvPVCWS5dz5Hv7yQF.jpg","production_companies":[{"id":1382,"logo_path":"/8b5XGJ8YhZoEo9LgFP8KRQWHjYL.png","name":"PolyGram Filmed Entertainment","origin_country":"US"},{"id":10163,"logo_path":"/16KWBMmfPX0aJzDExDrPxSLj0Pg.png","name":"Working Title Films","origin_country":"GB"},{"id":211783,"logo_path":null,"name":"Cappa/De Fina Productions","origin_country":"US"},{"id":37,"logo_path":"/wniaiKc5UCnC8qZcNKZNYwdKnUv.png","name":"Gramercy Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1998-12-30","revenue":166000,"runtime":114,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A woman like Mona can drive men to extremes.","title":"The Hi-Lo Country","video":false,"vote_average":6.2,"vote_count":84}